body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    background: rgb(150, 150, 150);
    padding: 10px 50px 10px 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    padding-left: 20px;
}

label {
    display: block;
    margin: 10px 0px 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 12px;
    border-width: 2px;
    border-color: #D5D5D5;
    background-color: #B3B3B3;
}

button {
    width: 105%;
    padding: 10px;
    background-color: #121212;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #B3B3B3;
}

#errorList {
    color: red;
    margin-top: 10px;
}

.hidden {
    display: none;
}

#successMessage {
    color: green;
    margin-top: 10px;
}
